@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-range-input;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

$pad-section: 21px;
$pad-segment: 21px;
$pad-segment-neg: -21px;

/* FRAMEWORK */

body {
    overflow-x: hidden;
}

hr {
    max-width: 30px;
    margin: 0 0 10px;
    border-bottom-color: black;
}

h1 {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    margin: 0;
    text-transform: lowercase;
}

h2 {
    font-weight: bold
}

h3 {
    font-size: .7rem;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.menu {
    font-weight: 300;

    a {
        text-decoration: underline;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }
}

a {
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* GRIDS */
.grid-container-menu {
    padding: $pad-section $pad-section $pad-section $pad-section/2;
    position: relative;
  z-index: 1;
}

.grid-container-footer {
    padding: $pad-section*5 $pad-section $pad-section*2 $pad-section;

    position: fixed;
    bottom: 0;
    width: 100%;

    .menu {
        li:last-child {
            padding-left: $pad-segment*3;
        }
    }
}

#grid-container-footer-cv {
   z-index: 10;
  position: relative;
}

#grid-container-filas {
    padding-bottom: $pad-section*7;
}

.grid-container-header {
    padding-top: $pad-section*3;
}

.project-fila {
    padding: $pad-section*3 $pad-section $pad-section*6 $pad-section;
}

.txt-fila {
    padding: $pad-section*3 $pad-section $pad-section*6 $pad-section;
}

.dbjs-fila {
    padding: $pad-section*3 $pad-section $pad-section*6 $pad-section;
}

.cv-fila {
    padding: $pad-section*3 $pad-section 0;

    p {
        font-size: .8rem;
    }
}

#cv-fila-1 {
    margin: 0;
    max-width: 85%;
    padding: $pad-section*5 $pad-section $pad-section*2 $pad-section/2;
    z-index: 10;
  position: relative;
}

.video-background{
  position: fixed !important;
}

#macy-container {

    a:hover,
    a:focus {
        img {
            cursor: zoom-in;
        }
    }
}


.footprint-proyecto {
    padding: $pad-section 0;

    h2,
    p {
        font-size: .7rem;
    }
}
.video-background{
filter: blur(5px);
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
scale: 1.1;
}

/* MASONRY para dibujos */

.grid-item {
    float: left;
    width: 10%;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 {
    width: 20%;
}

@include breakpoint(small only) {
    .grid-container-menu {
        z-index: 20;
        padding: $pad-section/2 $pad-section $pad-section;
        .menu {
            justify-content: space-around;
        }
    }

    .grid-container-footer {
        padding: 0 $pad-section;
        bottom: $pad-section/2;
        .menu a{
            padding: 0 0 5px;
        }

        * {
            font-size: .8rem;
        }
    }

    #grid-container-drag {
        padding: 10px;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background: white;

        .item-drag {
            position: absolute;
            padding: $pad-section*1.5 $pad-section/2 $pad-section;
            z-index: 10;
        }
    }
    #cv-fila-1{
        padding-left: $pad-section;
    }


}

@include breakpoint(medium) {
    .fila {
        padding: $pad-section;
    }

    #fila-2 {
        margin-top: $pad-segment-neg;
    }

    #fila-3 {
        margin-top: $pad-segment-neg*4;
    }

    #fila-4 {
        margin-top: $pad-segment-neg*4;
    }

    #fila-5 {
        margin-top: $pad-segment-neg;
    }

    #fila-7 {
        margin-top: $pad-segment-neg*7;
    }

    #fila-8 {
        margin-top: $pad-segment-neg*7;
    }


    /* PADDINGS */
    .pad-top-1 {
        padding-top: $pad-segment;
    }

    .pad-top-2 {
        padding-top: $pad-segment*2;
    }

    .pad-top-3 {
        padding-top: $pad-segment*3;
    }

    .pad-top-4 {
        padding-top: $pad-segment*4;
    }

    .pad-top-5 {
        padding-top: $pad-segment*5;
    }

    .pad-top-6 {
        padding-top: $pad-segment*6;
    }

    .pad-top-7 {
        padding-top: $pad-segment*7;
    }

    .pad-top-8 {
        padding-top: $pad-segment*8;
    }

    .pad-top-10 {
        padding-top: $pad-segment*10;
    }

    .pad-top-12 {
        padding-top: $pad-segment*12;
    }
}

@media screen and (min-width: 90em) and (max-width: 10000em) {
    html {
        zoom: 175%;
    }
}

/* PLUGINS */

.slbCloseBtn, .slbArrows button:before {
  color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  transition: all .2s ease-in-out;
}
.slbCloseBtn:hover, .slbCloseBtn:focus{
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}